/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

/* h1 {
    
} */

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 150px;
}

.search-container button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.acciones {
    text-align: center;
}

.butons {
    color: black;
    background-color: green;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.elna {
    color: black;
    background-color: red;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos específicos para el modal */
modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px; /* Para limitar el tamaño máximo del modal */
    background-color: #fff;
    border: 5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
}

modal table {
    width: 100%;
    margin-top: 10px;
}

div {
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

h1 {
    flex: 1; /* Ocupa todo el espacio disponible */
}

/* Estilo para el círculo junto al nombre */
.circle1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px; /* Espacio entre el nombre y el círculo */
    border: 2px solid #007bff; /* Color del borde del círculo */
}
.circle2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px; /* Espacio entre el nombre y el círculo */
    border: 2px solid red; /* Color del borde del círculo */
}
.circle3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px; /* Espacio entre el nombre y el círculo */
    border: 2px solid #007bff; /* Color del borde del círculo */
}

/* Ajustes adicionales según necesites */
