body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 150px;
}

.search-container button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px; /* Ajustar el padding para hacerla más compacta */
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.acciones {
    text-align: center;
}

.butons{
    text-align: justify;
    color: black;
    background-color: green;
}

.elna{
    text-align: justify;
    color: black;
    background-color: red;
}